{% extends 'base.html' %}

{% block title %}Home - Skyflights{% endblock %}

{% block content %}
<div class="content">
    <div class="container">
        <div class="include">
            <h1>Easy Booking at Your Fingertips</h1>
            <p>Enjoy hassle-free travel at the best prices with premium airlines.</p>
            <img src="/static/images/15-plane-png-image.png" alt="Airplane Vector"><br>
            <a href="search.html"><i class="fa fa-plane-departure"></i> Book Now!!</a>
        </div>          
    </div>
</div>

<div class="features">
    <div class="container">
        <h1>Why Choose Skyflights?</h1>
        <div class="rows">
            <div class="col-3">
                <div class="f1">
                    <i class="fa fa-ticket-alt"></i>
                    <h3>Easy Booking</h3>
                    <p>Book your tickets in just a few clicks</p>
                </div>
            </div>
            <div class="col-3">
                <div class="f1">
                    <i class="fa fa-shield-alt"></i>
                    <h3>Secure Payments</h3>
                    <p>100% safe and encrypted transactions</p>
                </div>
            </div>
            <div class="col-3">
                <div class="f1">
                    <i class="fa fa-headset"></i>
                    <h3>24/7 Support</h3>
                    <p>Support available anytime, anywhere</p>
                </div>
            </div>
            <div class="col-3">
                <div class="f1">
                    <i class="fa fa-broadcast-tower"></i>
                    <h3>Live Updates</h3>
                    <p>Stay informed with real-time flight status</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="location">
    <div class="container">
        <h1>Our Top International Destinations</h1>
        <div class="loc">
            <div class="rows">
                <div class="col-3">
                    <div class="country">
                        <img src="static/images/360_F_534479735_LBbk1SqhHYQ8cY2P3O8h2pwkNXU2a2UO.jpg" alt="USA">
                        <h3>United States</h3>
                    </div>
                </div>
                <div class="col-3">
                    <div class="country">
                        <img src="/static/images/download.png" alt="Germany">
                        <h3>Germany</h3>
                    </div>
                </div>
                <div class="col-3">
                    <div class="country">
                        <img src="/static/images/download.jpg" alt="UK">
                        <h3>United Kingdom</h3>
                    </div>
                </div>
                <div class="col-3">
                    <div class="country">
                        <img src="/static/images/download (1).jpg" alt="Canada">
                        <h3>Canada</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}